.page
{
  margin:0px;
  padding: 0px;
  background-color: azure;
}
.header
{
  width:100%;
  height:200px;
  background-color:white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  padding-right:20px;
}
.leftSideBar{
  height:100%;
  widht:200px;
  background-color: white;
  border-right: solid 1px black;
}
rightSideBar
{    
    
}